!!! 5
:plain
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head= render_partial("layouts/head")
%body
  /
    Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
    chromium.org/developers/how-tos/chrome-frame-getting-started
  :plain
    <!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  .page-wrapper
    %header.site-header= render_partial("layouts/header")
    %section.site-content= yield()
    %footer.site-footer= render_partial("layouts/footer")

  / JavaScript at the bottom for fast page loading
  = javascript_include_tag("jquery-1.7.1.min.js")

  / plugin scripts concatenated and minified
  = javascript_include_tag("plugins")

  / application script
  = javascript_include_tag("application")

:plain
  </html>
